*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --innerGap: 0.5rem;
  --sidebarIconHeight: 1.5rem;
  --sidebarIconWidth: 1.5rem;
  --top-section-padding: 1rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--top-section-padding);
  color: white;
}

.sidebar-header {
  margin-bottom: 2.5rem;
  font-size: 1rem;
}

.sidebar-header-icon {
  height: var(--sidebarIconHeight);
  width: var(--sidebarIconWidth);
}

.sidebar-menus {
  display: grid;
}

ul[class^="sidebar-menu"] {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 25px);
  gap: var(--innerGap);
}

.sidebar-entry,
.sidebar-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--innerGap);
}

.sidebar-entry-icon {
  height: var(--sidebarIconHeight);
  width: var(--sidebarIconWidth);
  padding: 0.25rem;
}

.header {
  grid-area: header;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  padding: var(--top-section-padding);
  gap: var(--innerGap);
}

.top-bar {
  display: grid;
  grid-auto-flow: column;
  padding: 0 var(--top-section-padding);
  grid-template-columns:
    var(--sidebarIconWidth) 1fr var(--sidebarIconWidth) calc(
      var(--sidebarIconWidth) * 1.5
    )
    auto;
  gap: var(--innerGap);
  align-items: center;
}

#search {
  margin-right: 5rem;
  border-radius: 0.625rem;
  background-color: #e2e8f0;
  padding: 0.25rem 0.5rem;
  border: none;
}

.search-icon,
.notification-icon {
  height: var(--sidebarIconHeight);
  width: var(--sidebarIconWidth);
  padding: 0.25rem;
}

.account-icon {
  border-radius: 50%;
}

.top-bar .account-icon {
  height: calc(var(--sidebarIconHeight) * 1.5);
}

.account-dashboard {
  display: grid;
  grid-auto-flow: column;
  padding: 0 var(--top-section-padding);
  grid-template-columns: auto auto;
  align-items: center;
  gap: var(--innerGap);
  justify-content: space-between;
}

.account-dashboard .account-icon {
  height: calc(var(--sidebarIconHeight) * 2.5);
  width: calc(var(--sidebarIconWidth) * 2.5);
  padding: 0.25rem;
}

.account-name {
  font-weight: bold;
}

.account-greeter {
  display: grid;
  grid-auto-flow: column;
  gap: var(--innerGap);
  align-items: center;
  font-weight: bold;
}

.account-hi {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.account-greeter .account-name {
  font-size: large;
}

.user-actions {
  display: grid;
  grid-auto-flow: column;
  gap: var(--innerGap);
}

.user-action {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: #1992d4;
  color: white;
  font-weight: bold;
}

.content {
  grid-area: content;
  background-color: #e2e8f0;
  padding: var(--top-section-padding);
  grid-auto-flow: column;
}

.article-container,
.info-container {
  display: grid;
  grid-auto-flow: row;
  gap: var(--innerGap);
}

.article-title,
.announcements-title {
  font-weight: bold;
  font-size: larger;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--innerGap);
}

.card {
  display: grid;
  grid-auto-flow: row;
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  border-left: 0.5rem solid #f0b429;
  height: 150px;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

.card-description {
  color: gray;
}

.card-actions {
  align-self: end;
  justify-self: end;
}

.content img[src$="icon.svg"] {
  height: var(--sidebarIconHeight);
  width: var(--sidebarIconWidth);
  padding: 0.25rem;
}
